# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# MLflow
mlruns/
mlflow_tracking/
# Data
data/
# Keep an optional .gitkeep in `data/` by adding an exception if desired
#!data/.gitkeep

# Chroma DB
chroma_db/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store

# IDE
.vscode/
.idea/